extends ../layouts/default.pug

block content
    .container
        .container-block
            h2.news Desoladies is a supportive, female-focused organization designed to unite, promote, and advocate for women in the Dota 2 scene.
            p.para-style
                a.link-style(href = '#') Learn More
            p.para-style
                span
                | >> Desoladies Members: Create your site account
                a.link-style(href = '#') here <<


block content-deso
    .container-news
        h1.header Announcement
        p.para-style This Valentine’s Day, the Desoladies raised more than $400 for the American Heart Association. Eight ladies streamed all day on the 14th, and viewers and followers contributed donations until the end of the 15th. The final total was $405. Our community donation will help AHA’s programs to raise awareness, lower rates of heart disease, fund emergency care, and investigate treatment and prevention options.
        p.para-style
            img(src = '../images/text.png' width = 399 height 388)
        p.para-style Each donator was entered in a raffle for a limited-edition Valentine-themed Desoladies jersey designed and provided by Metathreads. Congratulations to our jersey winners, @Big__Blake50 and @DotP_blackheart! Plus, streamers gave away Dotabuff Plus and PVGNA one-month access codes all day, courtesy of those companies. A huge thanks to Metathreads, Dotabuff, and PVGNA for providing prizes and supporting our charity stream!
        p.para-style We want to thank each person who helped make this event a success, whether you donated, hung out in chat, retweeted our event tweets, donated prizes, joined our games, or even streamed! A special shoutout to the members of our stream and management teams who helped organize and participate in this event:
        p.para-style
            a.link-style(href = '#') Bubbalubber
        p.para-style
            a.link-style(href = '#') Corimon
        p.para-style
            a.link-style(href = '#') Kazzandrah
        p.para-style
            a.link-style(href = '#') Superphrenic
        p.para-style
            a.link-style(href = '#') leafypeachy
        p.para-style
            a.link-style(href = '#') Ashnichrist
        p.para-style
            a.link-style(href = '#') RoyalAmes
        p.para-style
            a.link-style(href = '#') Beedub
        p.para-style
            a.link-style(href = '#') Little Copper
        p.para-style
            span Please look forward to more charity and stream events in the coming months! We appreciate everyone’s support and can’t wait to do it again.

block content-recent
    .container-recent
        h1.header Recent Content
        p.para-style  Thanks for checking out the official website of Desoladies! We’re glad you’re here. This site will serve as the official hub for all Desoladies-related information: news about the organization, updates about events, and announcements about our members who are doing great things.
        p.para-style If you have not already applied for membership, click here to fill out the form. Unsure if Desoladies is for you? Check out our FAQ to see what the group is all about. Approved Desoladies can then apply to join our stream team and participate in other community projects, such as coaching and playing inhouses.
        p.para-style
            span
                | Still got questions?
                a.link-style(href='#') Let us know!

        p.para-style Hope to see you back soon!

block content-comments
    .container-last
        .container-tweet
            p.tweet-style Desoladies @desoladies
                | RT @AnneMunition: “I Am Not a Unicorn. I Am a Gamer.” https://t.co/iTyKZ6MZP3
            span.tweet-style The time this was posted
            p.tweet-style Desoladies @desoladies
                | RT @DotP_Show: Check out the latest DotP 1 on 1 w/ @lawliepop from @DOTABUFF talkin how it began, developed & more #dota2 goodness! https:/…
            span.tweet-style The time this was posted
            p.tweet-style Desoladies @desoladies
                | RT @DifferentGames: Happy International Women's Day to all our trans sisters and non-binary femmes!!! We see you and you rule!!!
            span.tweet-style The time this was posted
        .container-insta
            h4.small-style Instagram Slider
            ul.adjustment
                li.lists-deso
                    a(herf = '#')
                        img.img-style(src = '/images/cute.jpg' )
                li.lists-deso
                    a(herf = '#')
                        img.img-style(src = '/images/simple.jpg')
                li.lists-deso
                    a(herf = '#')
                        img.img-style(src = '/images/tp.jpg' )
                li.lists-deso
                    a(herf = '#')
                        img.img-style(src = '/images/kazz.jpg')
                br
                li.lists-deso
                    a(herf = '#')
                        img.img-style(src = '/images/inhouse.jpg' )
                li.lists-deso
                    a(herf = '#')
                        img.img-style(src = '/images/spot.jpg')
                li.lists-deso
                    a(herf = '#')
                        img.img-style(src = '/images/nerco.jpg' )
                li.lists-deso
                    a(herf = '#')
                        img.img-style(src = '/images/orb.jpg' )

